[submodule "api-sdk"]
	path = api-sdk
	url = https://github.com/alexanderbird/scroll-api-sdk.git
[submodule "api-test"]
	path = api-test
	url = https://github.com/alexanderbird/scroll-api-test.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/alexanderbird/scroll-infrastructure.git
[submodule "core"]
	path = core
	url = https://github.com/alexanderbird/scroll-core.git
