[submodule "data"]
	path = data
	url = https://github.com/alexanderbird/scroll-data.git
[submodule "api-sdk"]
	path = api-sdk
	url = https://github.com/alexanderbird/scroll-api-sdk.git
[submodule "api-test"]
	path = api-test
	url = https://github.com/alexanderbird/scroll-api-test.git
