.tiles {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: var(--main-width);
  margin: 0 auto;
  padding-left: 0;
}

.tile {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow-wrap: normal;
  display: flex;
  flex-direction: row;
  text-decoration: inherit;
  color: inherit;
  --border-color: transparent;
  border: 1px solid var(--border-color);
}

.tile.tileSelected {
  --tile-selected-padding: 10px;
  --tile-selected-border: 2px;
  font-weight: bold;
  border: var(--tile-selected-border) solid var(--color-secondary);
  padding: var(--tile-selected-padding);
  margin-bottom: 5px;
  margin-top: 5px;
}

.tile .tileReference {
  font-size: 0.8rem;
  color: var(--color-light-gray);
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-grow: 0;
  flex-basis: 1;
  --tile-reference-width: 100px;
  min-width: var(--tile-reference-width);
}

.tile.linkTile > *,
.tile .tileReference > * {
  margin: auto;
}

.tile .tileReference .tileReferenceSaveButton {
  margin: 0;
}

@media (min-width: 800px) {
  .tile .tileReference {
    --tile-reference-width: 160px;
  }
}

.tile.tileSelected .tileReference {
  min-width: calc(var(--tile-reference-width) - var(--tile-selected-border) - var(--tile-selected-padding));
}

.tile.linkTile {
  display: flex;
}

.tile.linkTile,
.tile .tileText {
  --inner-border-color: var(--color-dark-gray);
  border: 1px solid var(--inner-border-color);
  padding: 5px 10px;
}

.tile .tileText {
  margin-right: auto;
  flex-grow: 1;
  flex-basis: 0;
}

@media (hover: hover) {
  .tile:not(.tileSelected):hover {
    --border-color: var(--color-secondary);
  }

  .tile:not(.tileSelected):hover .tileText:not(.tileStrongs) {
    --inner-border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
  }
}

.strongsContainer {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}

.strongsContainer em {
  font-weight: bold;
  font-style: normal;
}

.strongsContainer blockquote {
  border-left: 2px solid var(--color-dark-gray);
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.tileStrongs {
  display: inline;
}

.tileStrongs a.verseSegment {
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  line-height: 2em;
}

@media (hover: hover) {
  .tileStrongs a.verseSegment:hover {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
  }
}

.tileStrongs a.verseSegment.selectedWord {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
  font-weight: bold;
}

.verseSegmentContainer {
}
.verseSegment {
  padding: 2px 4px;
  border-color: var(--color-dark-gray);
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

.relatedLink {
  margin-top: 12px;
  font-weight: normal;
  display: flex;
}
.relatedLink a {
  margin-left: auto;
  margin-right: 0;
  padding-left: 14px;
  padding-right: 2px;
  display: flex;
  align-items: center;
}

.responsiveReference {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .responsiveReference {
    flex-direction: row;
  }
}
