.tiles {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 0;
}

.tile {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow-wrap: normal;
  display: flex;
  flex-direction: row;
  text-decoration: inherit;
  color: inherit;
}

.tile.tileSelected {
  font-weight: bold;
  border: 2px solid var(--color-volume-9);
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tile .tileReference {
  font-size: 0.8rem;
  color: var(--color-volume-2);
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--color-volume-1);
  display: flex;
  align-items: center;
  text-align: center;
  flex-grow: 0;
  flex-basis: 1;
}

@media (min-width: 500px) {
  .tile .tileReference {
    min-width: 100px;
  }
}

.tile .tileText {
  padding: 5px 10px;
  margin-right: auto;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid var(--color-volume-1);
}

.tile:not(.tileSelected):hover {
  background-color: #0082;
}

.strongsContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.tileStrongs {
  display: inline;
}

.tileStrongs a {
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  line-height: 2em;
}

.tileStrongs a:hover {
  background-color: #ff04;
}

.selectedWord {
  background-color: #ff04;
  font-weight: bold;
}

.verseSegment {
  background-color: #8882;
}

.relatedLink {
  margin-top: 12px;
  text-align: right;
  font-weight: normal;
}
.relatedLink a {
  text-decoration: none;
  color: inherit;
}
.relatedLink a:hover {
  background-color: #ff04;
}

.responsiveReference {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .responsiveReference {
    flex-direction: row;
  }
}
