<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">

    <title>Scroll Bible</title>
    <meta name="title" content="Scroll Bible">
    <meta property="og:title" content="Scroll Bible">
    <meta property="twitter:title" content="Scroll Bible">

    <meta name="description" content="Find something new in God's Word">
    <meta property="twitter:description" content="Find something new in God's Word">
    <meta property="og:description" content="Find something new in God's Word">

    <meta property="og:url" content="https://scrollbible.app/">
    <meta property="twitter:url" content="https://scrollbible.app/">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">

    <meta property="og:image" content="">
    <meta property="twitter:image" content="">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
