.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  padding: 12px;
  z-index: 50;
  text-align: center;
  border-top: 1px solid gray;
  font-size: 12px;
}

